body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("repeating-chevrons.png");
    background-size: cover;
}

header {
    background-color: #80d350;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #797e11;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-container {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.quantity-btn:hover {
    background-color: #555;
}

.quantity-display {
    font-size: 16px;
    width: 40px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #80d350;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: auto;
    flex-shrink: 0; /* This ensures the footer stays at the bottom */
}

.logo-container {
    position: absolute;
    top: 1px; 
    left: 10px;
}

.logo-container img {
    width: 100px;
    height: auto;
}
