body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("repeating-chevrons.png");
    background-size: cover;
}

header {
    background-color: #80d350;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #797e11;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
    flex: 1 0 auto; /* This makes the main content area grow and shrink as necessary */
    padding-bottom: 70px; /* Add bottom padding to main content area */
}

.comment-form-section, .comments-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #80d350;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6db33e;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comment h3 {
    margin: 0;
    color: #333;
}

.comment p {
    margin: 5px 0;
    color: #555;
}

footer {
    background-color: #80d350;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: auto;
    flex-shrink: 0; /* This ensures the footer stays at the bottom */
}

.logo-container {
    position: absolute;
    top: 1px; 
    left: 10px;
}

.logo-container img {
    width: 100px;
    height: auto;
}
